@import "./fonts";
@import "./colors";
* {
  font-family: "vazirmatn";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}

body {
  background-color: $menu-bg;
  // max-width: 1440px;
  // margin: 0 auto;
  // padding: 0 79px 0 80px;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 79px 0 80px;

  .heading-container {
    position: relative;
    width: 100%;
  }

  .heading {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .items {
      ul {
        display: flex;
        list-style-type: none;
        gap: 50px;
        li {
          color: $text-color;
          font-weight: 600;
          font-size: 20;
        }
      }
      .phone {
        display: flex;
        color: #fff;
        align-items: center;
        gap: 8px;
        color: $primary-color;
      }
    }
  }
  .profile {
    display: flex;
    gap: 7px;
    .roundicon {
      position: relative;
      width: 47px;
      height: 47px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // overflow: hidden;
      background-color: $icon-bg;
      cursor: pointer;

      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 32px;
        bottom: 30px;
        background-color: #fff;
        width: 17px;
        height: 17px;
        border-radius: 20px;

        span {
          font-size: 15px;
          font-weight: 600;
          color: $primary-color;
        }
      }
    }
    .delivery {
      background-color: $icon-bg-white;
      overflow: hidden;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    gap: 11px;

    h2 {
      font-size: 55px;
      font-weight: 600;
      color: $text-color;
    }
  }
}

// Menu
.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 79px;
  padding-right: 79px;

  .food-menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 90px;
    .item2 {
      width: 762px;
      position: relative;
      display: flex;
      align-items: center;
      .titles {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 100px;
        color: $primary-color;
        width: 100%;
        margin-right: 110px;
        font-size: 20px;
        font-weight: 400;
        span {
          color: $primary-color;
        }
      }
    }
    .item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 55px;
      width: 762px;
      height: 120px;
      border-radius: 40px;
      background-color: #fff;

      .titles {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 100px;
        color: $primary-color;
        bottom: 125px;
        right: 110px;

        .gheimat {
          margin-right: 20px;
        }
        span {
          font-size: 20px;
          font-weight: 400;
        }
      }

      #burger-content {
        margin-right: 35px;
      }
      #fried-content {
        margin-right: 10px;
      }
      #sandwich-content {
        margin-right: 40px;
      }
      #cola-content {
        margin-right: 40px;
      }
      #lemonad-content {
        margin-right: 60px;
      }

      .content {
        position: absolute;
        display: flex;
        gap: 70px;
        right: 80px;
      }

      .container-pic {
        position: relative;
        left: 90px;
        top: 3px;
        img {
          // height: 170px;
          // width: 170px;
        }
      }

      .title {
        font-size: 24px;
        font-weight: 900;
        color: $primary-color;
      }
      .price {
        font-size: 24px;
        font-weight: 400;
        text-align: right;
        color: #000;
      }

      .total {
        font-size: 24px;
        font-weight: 900;
        text-align: right;
        color: $text-color;
      }

      .add-remove {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .numbers {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;

          span {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: $primary-color;
          }
        }
      }
    }
  }

  .payment {
    display: flex;
    flex-direction: column;
    gap: 22px;

    .customer-details {
      width: 464px;
      height: 358px;
      border-radius: 40px;
      background-color: #fff;
      padding: 35px;
      .details {
        display: flex;
        gap: 168px;
        h3 {
          color: $text-color;
          font-size: 24px;
          font-weight: 700;
        }
      }
      .con {
        margin-top: 18px;
        display: flex;
        align-items: center;
        gap: 160px;
        .full-name {
          display: flex;
          flex-direction: column;

          .name {
            color: $primary-color;
            font-size: 15px;
            font-weight: 400;
          }
          .henry {
            color: #000;
            font-size: 24px;
            font-weight: 400;
          }
        }
      }
      .phone-number {
        display: flex;
        flex-direction: column;
        .phone {
          color: $primary-color;
          font-size: 15px;
          font-weight: 400;
        }
        .number {
          font-size: 24px;
          font-weight: 400;
          color: #000;
        }
      }
      .address {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-top: 34px;
        h3 {
          font-size: 24px;
          font-weight: 700;
          color: $text-color;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 31.25px;
          text-align: justified;
        }
      }
    }
    .total {
      display: flex;
      flex-direction: column;
      gap: 22px;
      width: 464px;
      height: 224px;
      border-radius: 40px;
      background-color: #fff;
      padding: 31px 35px;

      .total-price {
        display: flex;
        align-items: center;
        gap: 117px;
        :first-child {
          color: $text-color;
          font-size: 24px;
          font-weight: 700;
        }
        :last-child {
          font-size: 24px;
          font-weight: 900;
          color: $primary-color;
        }
      }
      .total-price2 {
        display: flex;
        align-items: center;
        padding-right: 20px;
        gap: 136px;
        :first-child {
          font-size: 24px;
          font-weight: 400;
        }
        :last-child {
          font-size: 24px;
          font-weight: 400;
        }
      }
      .send-price {
        display: flex;
        align-items: center;
        gap: 216px;
        padding-right: 20px;
        :first-child {
          font-size: 24px;
          font-weight: 400;
        }
        :last-child {
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
    .payment-details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 464px;
      height: 344px;
      border-radius: 40px;
      background-color: #fff;
      padding: 26px 23px;
      .detail-paying {
        font-size: 24px;
        font-weight: 700;
        color: $text-color;
      }
      .prefer {
        font-size: 20px;
        font-weight: 700;
        padding-right: 30px;
      }
      .pay-place {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-right: 32px;
        span {
          font-size: 20px;
          font-weight: 400;
        }
      }
      .dargah {
        font-size: 20px;
        font-weight: 400;
        padding-right: 32px;
      }
      .banks-dargah {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 33px;
      }
    }
    button {
      width: 432.94px;
      height: 72px;
      border: none;
      color: #fff;
      border-radius: 15px;
      background-color: $primary-color;
      font-size: 20px;
      font-weight: 900;
      margin: 0 auto;
    }
  }
}
// footer
.container-footer {
  padding: 60px 105px;
  background-color: $menu-bg;
  display: flex;
  height: 321px;

  .about-us {
    .logo {
      margin-top: 18px;
    }
    p {
      width: 334px;
      height: 108px;
      font-size: 20px;
      font-weight: 500;
      color: #a0a0a0;
    }
  }

  .work-hour {
    margin-right: 111px;
    h3 {
      color: $price-color;
      font-size: 26px;
      font-weight: 700;
      width: 285.26px;
      margin-top: 72px;
      height: 32.37px;
    }
    .p {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 18px;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      text-align: justified;
      width: 239px;
      height: 129px;
      color: #a0a0a0;
    }
  }

  .links {
    margin-right: 36px;
    h3 {
      width: 111px;
      height: 24px;
      color: $price-color;
      font-size: 26px;
      font-weight: 700;
      margin-top: 72px;
    }

    .link-items {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        text-align: justified;
        color: #a0a0a0;
      }
    }
  }

  .contact-us {
    margin-right: 150px;
    h3 {
      width: 140px;
      height: 24px;
      font-size: 26px;
      font-weight: 700;
      color: $price-color;
      margin-top: 72px;
    }
    .paragraph {
      margin-top: 22px;
      width: 184px;
      height: 66px;
      font-size: 13px;
      font-weight: 500;
      line-height: 20.31px;
      text-align: justified;
      color: #a0a0a0;
    }
    .number {
      width: 119px;
      height: 16px;
      font-size: 18px;
      font-weight: 500;
      color: #b6b6b6;
      margin-right: 80px;
    }
    .contact-email {
      position: relative;
      margin-top: 25px;
      input {
        border-radius: 32.5px;
        border: none;
        width: 189px;
        height: 44px;
        padding: 10px;
      }
      a {
        position: absolute;
        left: 14px;
        top: 7px;
      }
    }
  }
}
